<html>
<h2>plan numbers Tree</h2>

<head>
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

  <%= content_tag :div, class: "tree", data: {linkages: @linkages.to_json} do %>
      <%= javascript_include_tag 'plan_nums_tree.js'%>
  <% end %>

</html>

