<div class="div">
  <h2>CISP searches</h2>
  <ul>
    <li><%= link_to 'Cif Search', lot_plan_search_new_qld_lot_plan_search_index_path %>
      <!--<div class="details">Searching by Lot and Plan number</div>-->
    </li>
    <li><%= link_to 'Cadastra Data Search', cadastra_search_new_cadastra_search_index_path %>
      <!--<div class="details">Searching by LotPlan list or </div>-->
    </li>
    <li><%= link_to 'Survey control file Search', '' %>
      <!--<div class="details">Searching by </div>-->
    </li>
  </ul>
  </div>
